.main{
        background-color: rgb(255, 230, 198);
}
.genre{
        height: 150px;
        width: 400px;
        border-radius: 5px;      
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        margin: 15px 20px;
        background-color: rgb(247, 204, 163);
}